.cartridge-row {
  position: absolute;
  bottom: -35%;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}
.floppy-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  padding-bottom: 125px;
  transform: translateY(0%);
  transition: transform 0.7s ease;
  position: relative;
  max-width: 330px;
  min-width: 280px;
}

.floppy-container:hover {
  transform: translateY(-45%);
  transition: transform 0.7s ease;
}

.floppy {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 3;
  display: block;
}
